<div class="jumbotron">

    <div class="row mb-4">
        <div class="col-4"><button class="btn btn-danger btn-block" (click)="getTest()">SERVER CONNECTION TEST [GET]</button></div>
        <div class="col-8"><button class="btn btn-outline-dark btn-block font-italic" disabled>{{this.alert}}</button></div>
        <!-- div class="col-1"><button class="btn btn-dark btn-block" (click)="reset()">&#8634;</button></div -->
    </div>

    <div class="card border-primary">
        <div class="card-header">
            <h4>POST Text</h4>
        </div>

        <form [formGroup]="textForm" (ngSubmit)="sendText()">
            <div class="form-group">
                <div class="container mt-3">
                    <textarea class="form-control" formControlName="textInput" placeholder="Enter text to send"></textarea>
                    <button class="btn btn-info btn-block mt-2" type="submit">SEND</button> 
                </div>
            </div>
        </form>
        
    </div>

    <div class="card border-secondary mt-4">
        <div class="card-header"><h5>Last text sent:</h5></div>
        <div class="container mt-3">
            <p class="font-italic">{{this.text}}</p>
        </div>
    </div>

</div>