<!-- div class="container-fluid" id="PageHeader">
  <div class="row">
    <div class="col-md-11 mt-3">
        <h1>
            Welcome to the application {{ title }}
        </h1>
    </div>
    <div class="col-md-1 mt-3">
        <img id="logo" width="50" alt="Angular Logo" src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg">
    </div>
  </div>
  
  <hr/>

</div -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">
    <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    SCCBD Client
  </span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/text">Text Component</a>
      <a class="nav-link" href="/cripto/AES">AES Cripto Component</a>
      <a class="nav-link" href="/cripto/RSA">RSA Cripto Component</a>
    </div>
  </div>
</nav>

<div class="container mt-5" id="PageBody">
  <!-- app-text></app-text>
  <app-cripto></app-cripto -->

  <router-outlet></router-outlet>
</div>

